#main-navigation nav li {
  padding-top: 0;
  padding-bottom: 0;
}

#projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--pico-spacing);
}

@media (min-width: 640px) {
  #projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  #projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
